/*Colors*/
body {
  color: #333;
  background: #e5e5e5;
  margin: 0 auto;
  font-weight: 300;
  letter-spacing: .04rem;
  line-height: 1;
  font-family: 'Helvetica', sans-serif; }

main {
  min-width: 1200px;
  max-width: 1680px; }

.line {
  width: 100%;
  height: 1px;
  margin: 1em 0 1em 0;
  opacity: 0.5;
  background-color: white; }

#queueChart, #BeerStorageChart {
  pointer-events: none; }

.image-wrapp {
  display: grid;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1em 0 2em 0; }

.beergraphic {
  width: 12vw; }

.wrapp {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(200px, auto);
  justify-items: stretch;
  align-items: stretch;
  grid-gap: 1em;
  margin: 1.5vw 5vw 0 5vw; }

.box {
  padding: 1.5em;
  border-radius: 0.5em;
  color: #333;
  box-shadow: 0 10px 8px -8px #999;
  background-color: white; }

.box1 {
  grid-column: 1 / 4;
  grid-row: 1 / 3;
  display: flex;
  align-self: end;
  flex-direction: column;
  color: white;
  background: linear-gradient(45deg, #ee0979 0%, #ff6a00 100%); }

.box2 {
  grid-column: 4 / 9;
  grid-row: 1 / 3;
  display: grid;
  align-content: center; }

.box3 {
  grid-column: 9 / -1;
  grid-row: 1 / 3;
  display: grid;
  align-content: center; }

.box4 {
  grid-column: 1 / -1;
  display: grid;
  position: relative;
  grid-gap: 1em;
  grid-template-columns: repeat(3, 1fr); }
  .box4 .box4-column1 {
    display: grid;
    grid-column: repeat(2, 1fr);
    grid-template-rows: minmax(60px, auto); }

.box5, .box6 {
  grid-column: 1 / -1;
  display: grid;
  position: relative;
  grid-gap: 1em;
  grid-template-columns: repeat(5, 1fr); }
  .box5 .box5-column1, .box6 .box5-column1 {
    display: grid;
    grid-column: repeat(2, 1fr);
    grid-template-rows: minmax(60px, auto);
    cursor: pointer; }

h1 {
  font-family: 'PT Serif', serif;
  font-size: 2rem;
  font-weight: 400;
  margin: 0 0 0.5em; }

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 2.0rem;
  display: inline-block;
  font-weight: 300;
  line-height: 1;
  padding: 0;
  margin: 0; }

p {
  font-size: 0.938em;
  font-weight: 300;
  line-height: 1.5;
  margin: 2em 0 2em; }

i, span, strong {
  font-family: Helvetica, sans-serif;
  font-size: 0.938em;
  color: #333;
  line-height: 1.5em; }

span {
  font-weight: normal;
  margin-left: 0.5em; }

strong {
  margin-left: 0.5em;
  padding: 0.5em 01em 0.5em 0.9em;
  border-radius: 0.5em; }

.box4 .label {
  color: white; }
