body
  color: $black
  font-size: 1em
  line-height: (16px*1.618)
  font-family: 'Roboto', sans-serif
  font-style: normal

span
  font-weight: normal

span, strong
  display: inline
  font-family: 'Roboto', sans-serif
  font-style: normal
  letter-spacing: 0.045em
  line-height: (20px*1.618)