h1
  font-family: 'PT Serif', serif;
  font-size: 2rem
  font-weight: 400
  margin: 0 0 0.5em
h2
  font-family: 'Playfair Display', serif
  font-weight: 400
  font-size: 2.0rem
  display: inline-block
  font-weight: 300
  line-height: 1
  padding: 0
  margin: 0

a
  color: red

p
  font-size: 0.875em
  font-weight: 300
  line-height: 1.5
  margin: 2em 0 2em

i, span, strong
  font-family: Helvetica, sans-serif
  font-size: 0.938em
  color: $black
  line-height: 1.5em

span
  font-weight: normal
  margin-left: 0.5em

strong
  margin-left: 0.5em
  padding: 0.5em 01em 0.5em 0.9em
  border-radius: 0.5em 
  color: $white